
body {
    background-color: #FF6B35; 
}


.jumbotron-personalizado {
    background-color: #fffdfd; 
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


*/
.btn-primary {
    background-color: #FF6B35; 
}
.btn-success {
    background-color: #FF6B35; 
    border-color: #FF6B35;
}