
body {
   
    background-color: #f4f7f6;
}


*/
.jumbotron-personalizado {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


*/
.btn-primary {
    background-color: #FF6B35;
    border-color: #FF6B35;
}

.btn-primary:hover {
    background-color: #FF4444; 
    border-color: #FF4444;
}